<h1> {{hero.name}} </h1>
<hr>
<div>
	<!-- Level -->
	<input type="range" name="level" ng-model="level" min="1" max="30">
	<p>Level: {{level}}</p>
	<br>

	<!-- Buffs -->
	<input type="checkbox" name="stimDrone" ng-Model="stimDrone">
	<label for="stimDrone">Stim Drone</label>
	<br>
	<input type="checkbox" name="adrenalOverload" ng-Model="adrenalOverload">
	<label for="adrenalOverload">Adrenal Overload</label>
	<br>
	<input type="checkbox" name="bloodlust" ng-Model="bloodlust">
	<label for="bloodlust">Bloodlust</label>
	<br>
	<input type="checkbox" name="willOfHeaven" ng-Model="willOfHeaven">
	<label for="willOfHeaven">Will Of Heaven</label>


	<!-- Enemy Armor -->
	<br><br><br>
	<input type="number" name="enemyArmor" ng-model="enemyArmor" min="-75" max="75">
	<p>Enemy Armor: {{enemyArmor}}</p>
</div>
<hr>
<button type="button" ng-click="calculateDps()">Calculate DPS</button>
<h2>DPS: {{ dps }}</h2>
